[Unit]
Description=uWSGI instance to serve Shorty
After=network.target

[Service]
User=mike
Group=www-data
WorkingDirectory=/home/mike/repos/shorty
Environment="PATH=/usr/local/bin"
ExecStart=/usr/local/bin/uwsgi --ini wsgi.ini

[Install]
WantedBy=multi-user.target
